<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:drake="http://drake.mit.edu" xmlns:xacro="http://www.ros.org/wiki/xacro" name="gelsight_mini_calibration">

    <!-- Defines a base link that will serve as the model's root. -->
    <link name="base"/>
    <!--joint between {parent} and link_0-->
    <joint name="base_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="base"/>
        <child link="mount"/>
    </joint>

    <link name="mount">
        <visual>
            <!-- <origin rpy="0 0 1.57079633" xyz="0.713041081 0 -0.0062778107"/> -->
            <origin rpy="0 0 1.57079633" xyz="0.713041081 0 -0.0143078"/>
            <geometry>
                <mesh filename="./calib_assets/gelsight_mount/gelsight_mount.obj"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 1.57079633" xyz="0.713041081 0 -0.0143078"/>
            <geometry>
                <mesh filename="./calib_assets/gelsight_mount/gelsight_mount.obj"/>
            </geometry>
        </collision>
    </link>

    <link name="gelsight_shell">
        <visual>
            <origin rpy="0 3.14159265 0" xyz="0 0.0599995 0.00273"/>
            <geometry>
                <mesh filename="./gelsight_mini/gsmini_shell_hollow_transformed.obj"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 3.14159265 0" xyz="0 0.0599995 0.00273"/>
            <geometry>
                <mesh filename="./gelsight_mini/gsmini_shell_hollow_transformed.obj"/>
            </geometry>
        </collision>
    </link>

    <joint name="shell_base_fixed" type="fixed">
        <origin xyz="0.713041081 0 0.0060" rpy="0 0 1.57079633"/>
        <parent link="mount"/>
        <child link="gelsight_shell"/>
    </joint>


    <!-- mounts gelpad -->

    <link name="gelpad">
        <visual>
            <origin rpy="0 3.14159265 0" xyz="0 0.0589995 0.00243"/>
            <geometry>
                <mesh filename="./gelsight_mini/gsmini_elastomer_transformed.obj"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 3.14159265 0" xyz="0 0.0589995 0.00243"/>
            <geometry>
                <mesh filename="./gelsight_mini/gsmini_elastomer_transformed_enclosed.obj"/>
            </geometry>
        </collision>
    </link>

    <joint name="gelpad_shell_fixed" type="fixed">
        <origin xyz="0 0 0.00" rpy="0 0 0"/>
        <parent link="gelsight_shell"/>
        <child link="gelpad"/>
    </joint>

</robot>